nginx:
  fpmSocket: php-fpm
  s.cpanel.yii:
    ips: 0.0.0.0:80
    domain: s.cpanel.yii
    webDir: /cpanel/public/storage
  admin.cpanel.yii:
    ips: 0.0.0.0:80
    domain: admin.cpanel.yii
    webDir: /cpanel/public/admin
